{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to E-commerce website...</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br> <br>
                <p align="justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum interdum bibendum fringilla. Sed sollicitudin, diam egestas rhoncus pharetra, ligula purus tempor mi, id pretium nisi nisi in nisl. Suspendisse luctus est ut dictum pulvinar. Duis vel facilisis nisi. Praesent lacinia felis et congue finibus. Mauris venenatis purus ut mi faucibus, eu mattis sem tristique. Aliquam non imperdiet lorem. Ut sed nisi nec odio vehicula convallis non sit amet nisl.
                <br> <br>
                Cras a purus vestibulum arcu volutpat sollicitudin vel vel neque. Nunc metus dolor, interdum eget sem in, suscipit dignissim nulla. Mauris in semper purus. Sed in lacinia felis. Aliquam ipsum tortor, tempor at nunc ut, ultricies sollicitudin tellus. Cras venenatis molestie blandit. Sed id nisl aliquet, sollicitudin velit at, consectetur ex. In hac habitasse platea dictumst. Duis dui dui, bibendum non tristique dictum, placerat at diam.
                <br> <br>
                Praesent hendrerit nunc ut ipsum tristique, at interdum felis suscipit. Integer aliquet nisi nec magna dictum, non consectetur lorem rhoncus. Etiam tincidunt quis sapien non aliquet. Sed vel faucibus turpis, a auctor augue. Sed eu hendrerit sapien. Vivamus dapibus venenatis ullamcorper. Ut accumsan nisi sed tincidunt pulvinar. Donec pellentesque orci eros, vel aliquet nulla cursus sed. Morbi lacus magna, accumsan quis molestie euismod, iaculis sollicitudin turpis. In aliquam dolor felis, et lacinia mi maximus a.
                <br> <br>
                </p>       
            </div>
        </center>
    </div>
</div>

{% endblock %}